[package]
name = "hudagents-local"
version.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
whisper-rs = { version = "0.15.1", features = ["metal"] }
